.bgnotif{
  height: 510px;
  background-color: white;
  overflow-y: auto;
  overflow-x: hidden;
 
}

@media (max-width: 768px) {


    .card img {
        position: relative; 
        border-radius: 10px;
        /* top: 10px; */
        left: 2px;
        /* height: 180px; */
        width: 100%;
        margin-top: 1vw;
    }

    .bgnotif{
        margin-top: 60px;
    }

    .notif{
        position: relative;
        left: -27px;
    }


   
}
